<div class="blank1">
    <div class="blank2">
        <div class="top">
<p><h2> 筋トレのモチベーションが下がってるあなたに </h2></p>
<div class="top">
<p>筋トレ仲間を見つけ</p>
<p>目標設定、筋トレスケジュールを設定して</p>
<p>筋トレの自己管理をしよう</p>
<%= link_to "ログイン", tweets_path %>
<%= link_to "新規登録", new_user_registration_path %>
</div>
  </div>
  </div>